version: "3.9"

services:
  backend:
    image: thealdi/stoergeler-backend:latest
    platform: ${DOCKER_PLATFORM:-linux/amd64}
    container_name: stoergeler-backend
    networks:
      stoergeler_net:
        ipv4_address: 172.18.0.4
    ports:
      - "8001:8000"
    environment:
      FRITZBOX_ADDRESS: ${FRITZBOX_ADDRESS:-fritz.box}
      FRITZBOX_USERNAME: ${FRITZBOX_USERNAME:-}
      FRITZBOX_PASSWORD: ${FRITZBOX_PASSWORD:-}
      POLL_INTERVAL_SECONDS: ${POLL_INTERVAL_SECONDS:-60}
      DEVICE_LOG_POLL_INTERVAL_SECONDS: ${DEVICE_LOG_POLL_INTERVAL_SECONDS:-60}
      DATABASE_PATH: /app/data/stoergeler.db
    volumes:
      - /volume1/docker/stoergeler/data:/app/data

  frontend:
    image: thealdi/stoergeler-frontend:latest
    platform: ${DOCKER_PLATFORM:-linux/amd64}
    container_name: stoergeler-frontend
    networks:
      stoergeler_net:
        ipv4_address: 172.18.0.5
    depends_on:
      - backend
    ports:
      - "8080:80"

networks:
  stoergeler_net:
    external: true
    name: stoergeler
